*{
    box-sizing: border-box;
}
body {
    display: flex;
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif, Times, 'Times New Roman', serif;
    overflow: hidden;
}

.sidebar {
    width: 350px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.logo img {
    width: 50%;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    color: rgb(92, 14, 14);
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: space-between;
}

.social-icons img {
    width: 30px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.carousel {
    position: relative;
}

.carousel-images {
    display: flex;
    overflow: hidden;
}

.carousel-images img {
    width: 100%;
    height: calc(100vh - 40px);
    display: none;
    object-fit: contain;
}

.carousel-images img.active {
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:rgba(89, 89, 89, 0.311);
    border: none;
    cursor: pointer;
    color: white;
    width: 30px;
    height: 30px; 
    font-size: 25px;
}

.prev {
    left: 30px;
}

.next {
    right: 30px;
}